@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --red1: hsl(0, 36%, 70%);
  --red2: hsl(0, 93%, 68%);
  --red3: hsl(0, 6%, 24%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.card {
  margin-top: 8rem;
  width: 375px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__logo {
  position: absolute;
  top: -10%;
  left: 3rem;
  height: 2rem;
}

.card__hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__hero .desktop {
  display: none;
}

.card__content {
  background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  padding: 0 3rem;
}

.card__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 10px;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.card__header .thin {
  font-weight: 300;
  color: var(--red1);
}

.card__text {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 4rem;
  color: var(--red1);
}

.card__input {
  position: relative;
}

.card__input input {
  width: 100%;
  height: 4.5rem;
  border: none;
  border: 1px solid var(--red1);
  border-radius: 5rem;
  padding: 0 2rem;
  background-color: transparent;
  opacity: 0.5;
  margin-bottom: 8rem;
}

.card__input input::placeholder {
  color: var(--red1);
  font-family: 'Josefin Sans';
}

.card__input button {
  position: absolute;
  top: 0;
  right: 0;
  height: 4.5rem;
  width: 20%;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 5px 10px hsl(0, 58%, 86%);
  transition: all 0.3s ease;
}

.card__input button:hover {
  opacity: 0.5;
  box-shadow: 0 5px 10px 2px hsl(0, 26%, 73%);
}

.card__input .card__message {
  position: absolute;
  top: 45%;
  left: 2rem;
  font-size: 1.3rem;
  color: var(--red2);
}

.card__input.invalid input {
  border: 2px solid var(--red2);
}

.card__input.invalid::after {
  position: absolute;
  content: '';
  top: 10%;
  right: 23%;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url('./images/icon-error.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 640px) {
  .card {
    height: 100vh;
    width: 100vw;
    margin: 0;
    flex-direction: row-reverse;
  }

  .card__hero {
    flex: 1;
  }

  .card__hero .mobile {
    display: none;
  }

  .card__hero .desktop {
    display: block;
  }

  .card__hero img {
    width: 100%;
    height: 100%;
  }

  .card__content {
    flex: 1;
    padding: 0 13.5rem;
    background-image: url('./images/bg-pattern-desktop.svg'),
      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card__header {
    margin-top: 0;
    font-size: 7.5rem;
    text-align: left;
  }

  .card__text {
    font-size: 1.8rem;
    text-align: left;
  }

  .card__input {
    width: 465px;
    align-self: flex-start;
  }

  .card__input input {
    height: 5rem;
  }

  .card__input button {
    height: 5rem;
  }

  .card__input.card__input.invalid::after {
    width: 2rem;
    height: 2rem;
  }

  .card__logo {
    top: 5%;
    left: 13.5rem;
    height: 3.5rem;
  }
}
