@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  filter: invert(0.7) sepia(42%) saturate(482%) hue-rotate(116deg) brightness(95%) contrast(93%);
}

.active {
  @apply bg-custom-yellow xl:bg-white px-8 py-4 text-black rounded-full uppercase font-fraunces text-base;
}

.menu::after {
  position: absolute;
  content: '';
  border-left: 26px solid transparent;
  border-bottom: 26px solid white;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

@layer utilities {
  .hover-menu {
    @apply lg:bg-white lg:bg-opacity-30 text-black rounded-full transition duration-500;
  }

  .hover-icon {
    cursor: pointer;
    transition: filter 0.3s;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(319deg) brightness(102%)
      contrast(101%);
  }
}
